# Compiled files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs
# See http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle directories
.gradle/

# Intellij project directories/files
.idea/
*.iml

# Eclipse project files
*.project
*.classpath
.settings

# Maven make directories
build/
target/

# DS_Store directories/files
/.DS_Store

# Docker container used data directories
docker/datas/

## docker/datas/mongo/configdb/*
## docker/datas/mongo/database/*

## docker/datas/mysql/database/*

## docker/datas/rabbitmq/*

## docker/datas/redis/database/*

